{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Stream {{ stream.StreamId }} {% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>Stream info</h2>
  <p><ul>
  <li>
    <b>StreamId: </b>{{ stream.StreamId }}
  </li>
  <li>
    <b>Date: </b>{{ stream.StreamDate }}
  </li>
  <li>
    <b>Charge: </b>{{ stream.Charge }}
  </li>
  <li>
    <b>Movie: </b><a href="/movies/{{ stream.MovieId}}">{{ stream.Title }}</a>
  </li>
  <li>
    <b>Customer: </b>{{ stream.Name }} ({{ stream.CustomerId }})
  </li>
  </ul></p>
{% endblock %}
